h1{
  font-size: 3em;  
}

.intro{
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5em;  
  color: white;
}

#text{
 font-size: 1.8em; font-weight: bold;
 color: white; margin: 1em;
 }

#author{
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 3em;
}

    
.qmark{
    margin: 3em;
}

.font{
 font-family: 'Chilanka', cursive;
}

body {
    
  background: url(https://lh3.googleusercontent.com/614AOj9yvtPKOmb1nlgF9nMrvgrbYT-ps5Q9MJ0kDYIPLub8nUfWqFExUPIw27WTZAI2AaORmq5v1pbqSupHCpXpktfWVsKC44OQTcE3cBaiLgHAMagpmimheR9DoO1t3_TaQefmRuw=w2400)
}



#new-quote {
    color: white;
    font-size: 1.3em;
    margin-right: 20em;
    border-radius: 20%;
    background-color: #176138;
    
  }
  
  #tweet-quote{
    color: white;
    font-size: 1.3em;  
    background-color: #387da8;
    border-radius: 20%;
      
  }

  .navbar{
    opacity: 0.7;
    color: white;
  }


.figure{
  padding: 0em 0em 3em 0em;
}

